# fly.toml app configuration file generated for site-ndi-2025 on 2025-12-05T19:10:08+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'site-ndi-2025'
primary_region = 'cdg'

[build]
  dockerfile = 'Dockerfile'

[env]
  VITE_API_URL = 'https://site-ndi-2025-backend.fly.dev'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = '15s'
    timeout = '5s'
    grace_period = '10s'
    method = 'GET'
    path = '/'

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
